.DS_Store
node_modules
dist
coverage
.turbo
apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/ios/build
apps/desktop/src-tauri/gen
apps/desktop/src-tauri/target
